<div class='bg'>
  <mat-card class='content' style='opacity: 0.9;'>
    <h1 style="text-align: center">Alfred à votre service!</h1>
    <p>Alfred vous propose:
    </p>
    <ul>
        <li>Une gestion des collaborateurs</li>
        <li>Une gestion des appareils et leur attribution</li>
        <li>La récupération des données des différents appareils</li>
        <li>La récupération de l'ensemble des enregistrements d'une nuit</li>
        <li>La visualisation des points fixes</li>
        <li>La visualisation des points de capture</li>
    </ul>
    <p>Un jour peut-être Alfred vous proposera:
    </p>
    <ul>
        <li>De visualiser l'état de l'envoi des enregistrements</li>
        <li>Une vue des enregistrements par espece détéctée</li>
    </ul>
  </mat-card>
</div>
